h1{
  color: red;
  font-size: 15px;
  background-color: blue;
  position: relative;
<<<<<<< HEAD
  font-style: italic;
=======
  box-shadow: 1px 1px 1px 1px black;
>>>>>>> 0bf870e4896bd72341ced21dbd6ebe41941262c6
}