h1{
  color: red;
  font-size: 15px;
  background-color: blue;
  position: relative;
<<<<<<< HEAD
  box-shadow: 1px 1px 1px 1px blackk;
=======
  font-style: italic;
<<<<<<< HEAD
  box-shadow: 1px 1px 1px 1px blackk;
=======
  box-shadow: 1px 1px 1px 1px black;
>>>>>>> ad0d9a5dfbe9d05680c9af32e6ebc550782fdfac
>>>>>>> 35b647b85c23a29a1c718bc8889d37a2b1f27f26
}